nav img {
  width: 80px;
  margin: 10px;
}

nav {
  width: 100%;
  height: 110px;
  top: 0;

  background-color: #fbfaf8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  display: flex;
  justify-content: center;
}

/* Contenedor del nav (asegúrate de que tenga un z-index alto) */
nav {
  position: relative;
  z-index: 100; /* Para que el menú pase por detrás si quieres, o esté por encima */
  background: white; /* O el color de tu nav */
  z-index: 1000;
}

/* NAV */
nav {
  position: relative;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #f5f4f2 !important;
  font-family: "Source Sans 3", sans-serif;
  font-style: bold italic;
}

.divSecciones {
  display: flex;
  gap: 30px;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.divSecciones a {
  width: auto;
  height: 100%;
}

.divSecciones p {
  font-weight: 400;
  margin: 0;
  font-size: large;
}

.divRedes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divRedes p {
  margin: 0;
}

.contenedorGrupal {
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.divLogoNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divRedes {
  display: flex;
  align-items: center;
}

.itemSecciones {
  /* No pongas position: relative aquí si quieres que el menú ocupe TODO el ancho de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  cursor: pointer;
}

.itemSecciones {
  position: static;
}

.itemSecciones:hover {
  border-bottom: 2px solid black;
}

.contenedorGrupal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SECCIONES */
.divSecciones {
  display: flex;
  gap: 30px;
}

/* MEGAMENU */
.megaMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 75vh;
  margin-top: 2px;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  pointer-events: none;

  transition:
    opacity 0.3s ease,
    transform 10s ease,
    visibility 10s ease;
  border-bottom: 2px solid rgb(221, 221, 221);
}

.contenedorCards {
  position: relative; /* en vez de absolute */
  width: 25%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
}

.contenedorCardsyOtros {
  transform: translateY(-20px);
  transition: transform 0.4s ease;
}

/* MOSTRAR */

/* Estado abierto */
.itemSecciones:hover .megaMenu {
  pointer-events: auto;
  opacity: 1; /*cambiar a 1  */
  visibility: visible;
}

.itemSecciones:hover .contenedorCardsyOtros {
  transform: translateY(0);
}

.otrosProductos h2 {
  font-size: 40px;
}

.otrosProductos a {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-style: bold italic;
  font-size: 30px;
  color: black;
  transition: transform 0.3s ease;
}

.otrosProductos {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-bottom: 2px solid rgb(2, 2, 2);
}

.contenedorCardsyOtros {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorCards {
  position: relative; /* en vez de absolute */
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  gap: 15px;
}

.contenedorCards a {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.cardProductos {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 10px;
  border: 0.5px solid black;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.cardProductos:hover {
  transform: scale(1.02);
}

.text::after {
  content: "  ›";
  opacity: 0;
  transform: translateX(-6px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.cardProductos:hover .text::after {
  opacity: 1;
  transform: translateX(0);
}

.cardProductos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  position: absolute;
  inset: 0;
}

.cardProductos p {
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.884);
  width: 100%;
  color: rgba(255, 255, 255, 0.904);
  font-size: 35px;
  background-color: #272727c9;
}

.cardProductos div {
  z-index: 100;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
}

/*efectos */

.otrosProductos a:hover {
  transform: translateX(15px) scale(1.1);
}

.otrosProductos a::after {
  content: "  ›";
  opacity: 0;
  transform: translateX(-6px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.otrosProductos a:hover::after {
  opacity: 1;
  transform: translateX(0);
}

/*botones de wsp */
.botonesArribaWsp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.flechaArriba {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42424291;
  margin-bottom: 10px;
}
olor
.flechaArriba svg {
  width: 20px;
  margin-bottom: 5px;
}

.whatsapp-btn {
  width: 60px;
  height: 60px;
  color: white;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-btn svg {
  width: 30px;
}

.contenedorCardsSeccion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  gap: 15px;
  margin: 0 auto;
  justify-content: start;
}

.contenedorCardsSeccion a {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contenedorCardsColor a {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contenedorCardsCatalogo a {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cardProductosSeccion {
  width: 100%;
  height: 100%;

  border-radius: 10px;

  justify-content: center;
  border: 0.5px solid black;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.cardProductosSeccion:hover {
  transform: scale(1.02);
}

.text::after {
  content: "  ›";
  opacity: 0;
  transform: translateX(-6px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.cardProductosSeccion:hover .text::after {
  opacity: 1;
  transform: translateX(0);
}

.cardProductosSeccion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  position: absolute;
  inset: 0;
}

.cardProductosSeccion p {
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.884);
  width: 100%;
  color: rgba(255, 255, 255, 0.904);
  font-size: 35px;
  background-color: #272727c9;
}

.cardProductosSeccion div {
  z-index: 100;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
}

.contenedorCardsColor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  gap: 15px;
  margin: 0 auto;
  justify-content: start;
}

.contenedorCardsCatalogo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 80%;
  gap: 15px;
  margin: 0 auto;
  justify-content: start;
}



@media (max-width: 576px) {
  /* ajustes finos para pantallas muy chicas */

  /* mobile grande */

html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  height: 100%;
  scroll-snap-type: none !important;
}



.menuCelular {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translatex(-100%);
  transition: transform 0.4s ease;
  z-index: 900;
}


.menuCelular.active {
  transform: translateX(0);
}



.megaMenuCelular {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
 
  transform: translateX(100%);
  transition: transform 0.6s ease;
  z-index: 1000;
}




.megaMenuCelular.active {
  transform: translateX(0);
}




  .seccionCelular {
    margin: 0 auto;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 5px;

  }

  

  .seccionCelular p {
    font-size: 30px;
  }


 


  .contenedorMegaCelular {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
  }

  
  
.megaProductos{
  width: 95%;
  height: 80%;
  margin:  0 auto;
  opacity: 0;
  transform: translateY(45px) translateX(8px);
   
}
 
.megaProductos.active{
  opacity: 1;
  position: fixed;
  z-index: 1000;
}




.contenedorCardsSeccion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  height: 80%;
  gap: 15px;
  margin: 0 auto;
  transform: translateY(0px) translateX(8px);
}

.contenedorCardsSeccion a {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.cardProductosSeccion {
  width:  100%;
  height: 100%;

  border-radius: 10px;

  justify-content: center;
  border: 0.5px solid black;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}


.cardProductosSeccion p {
  text-align: center;
  border-top: 2px solid rgba(255, 255, 255, 0.884);
  width: 100%;
  color: rgba(255, 255, 255, 0.904);
  font-size: 15px;
  background-color: #272727c9;
}



.contenedorCardsColor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 80%;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
 
}

.contenedorCardsColor img{
  object-fit: cover;
  object-position: top;
}

  .back{
    margin: 0 auto;
    margin-left: 10px;
    height: auto;
    margin-top: 10px;
    position: fixed;
    z-index: 10000;
    
  }

  .back img{
    width: 30px;
  }

  .cardProductos {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 10px;
    border: 0.5px solid black;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    margin-top: 10px;
  }

  .contenedorCards {
    position: relative; /* en vez de absolute */
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
  }

  .contenedorCards a {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 25px;
  }

  .cardProductos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    position: absolute;
    inset: 0;
  }

  .cardProductos p {
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.884);
    width: 100%;
    color: rgba(255, 255, 255, 0.904);
    font-size: 20px;
    background-color: #272727c9;
  }

  .otrosProductos h2 {
    font-size: 22px;
    margin-top: 10px;
  }

  .otrosProductos a {
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-style: bold italic;
    font-size: 22px;
    color: black;
    transition: transform 0.3s ease;
    margin: 0;
  }

  .otrosProductos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 20px;
  }

  .cardProductos div {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .divSecciones {
    display: none;
  }


  .contenedorCardsCatalogo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  height: 60%;
  gap: 15px;
  margin: 0 auto;
  justify-content: start;
  transform: translateX(8px) translateY(25px);
}

.contenedorCardsCatalogo img{
 object-fit: contain;
}

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu img {
    aspect-ratio: 1/1;
    width: 30px;
  }

  .divRedes {
    display: none;
  }

  nav {
    width: 100%;
    height: 70px;
    top: 0;

    background-color: #fbfaf8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    display: flex;
    justify-content: center;
  }

  nav img {
    width: 60px;
    margin: 10px;
  }

  .menu img {
    aspect-ratio: 1/1;
    width: 30px;
  }
}

/* =========================
   TABLET
   desde 768px
   ========================= */
@media (min-width: 768px) {
  /* tablet */
}

/* =========================
   DESKTOP
   desde 992px
   ========================= */
@media (min-width: 992px) {
  /* desktop */

  .menu {
  display: none;
}

.menuCelular {
  display: none;
}

.megaMenuCelular{
  display: none;
}

  .contenedorGrupal {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }
}

/* =========================
   DESKTOP GRANDE
   desde 1200px
   ========================= */
@media (min-width: 1200px) {
  /* pantallas grandes */
}
